# Código de ajuste dos dados de IDH - Renda
Neste trabalho serão usados dados apenas do IDHM, pois fazem parte do escopo que busca-se analisar.
Os dados de IDH estão disponíveis para os estados brasileiros nos anos de 2010, 2016 e 2017.

Dados disponíveis em: http://www.atlasbrasil.org.br/ranking

In [9]:
## Load dependencies.
import os
import pandas as pd
import numpy as np

In [10]:
## Read files.
fields = ['Territorialidade', 'IDHM']
df1 = pd.read_excel('bases-auxiliares/idh_2010.xlsx', usecols=fields)
df2 = pd.read_excel('bases-auxiliares/idh_2016.xlsx', usecols=fields)
df3 = pd.read_excel('bases-auxiliares/idh_2017.xlsx', usecols=fields)

In [11]:
## Set year to datasets.
df1['ano'] = 2010
df2['ano'] = 2016
df3['ano'] = 2017

In [12]:
## Appenda datasets.
df = df1.append([df2, df3])

In [13]:
## Create dict for states.
estado = df['Territorialidade'].unique().tolist()
uf = ['DF', 'SP', 'SC', 'RJ', 'PR', 'RS', 'ES', 'GO', 'MG', 'MS', 'MT', 'AP', 'RR', 'TO', 'RO', 'RN',
              'CE', 'AM', 'PE', 'SE', 'AC', 'BA', 'PB', 'PI', 'PA', 'MA', 'AL']

uf_dict = dict(zip(estado, uf))
uf_dict

{'Distrito Federal': 'DF',
 'São Paulo': 'SP',
 'Santa Catarina': 'SC',
 'Rio de Janeiro': 'RJ',
 'Paraná': 'PR',
 'Rio Grande do Sul': 'RS',
 'Espírito Santo': 'ES',
 'Goiás': 'GO',
 'Minas Gerais': 'MG',
 'Mato Grosso do Sul': 'MS',
 'Mato Grosso': 'MT',
 'Amapá': 'AP',
 'Roraima': 'RR',
 'Tocantins': 'TO',
 'Rondônia': 'RO',
 'Rio Grande do Norte': 'RN',
 'Ceará': 'CE',
 'Amazonas': 'AM',
 'Pernambuco': 'PE',
 'Sergipe': 'SE',
 'Acre': 'AC',
 'Bahia': 'BA',
 'Paraíba': 'PB',
 'Piauí': 'PI',
 'Pará': 'PA',
 'Maranhão': 'MA',
 'Alagoas': 'AL'}

In [14]:
## Append UF to the dataset.
df['uf'] = df['Territorialidade'].map(uf_dict)

In [15]:
## Change column names and drop redundant column.
df.columns = ['drop', 'idhm', 'ano', 'uf']
df = df.drop('drop', 1)
df

/tmp/ipykernel_31092/1210248439.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('drop', 1)

     idhm   ano  uf
0   0.824  2010  DF
1   0.783  2010  SP
2   0.774  2010  SC
3   0.761  2010  RJ
4   0.749  2010  PR
..    ...   ...  ..
22  0.702  2017  SE
23  0.698  2017  PA
24  0.697  2017  PI
25  0.687  2017  MA
26  0.683  2017  AL

[81 rows x 3 columns]

In [17]:
## Exporting dataset
df.to_csv('bases-auxiliares/idhm.csv',
                index=False, header=True)