In [1]:
import pandas as pd
import numpy as np
from global_function import map_values
valDF = pd.read_csv('bases-auxiliares/CAGED-ajustado.csv')

In [2]:
valDF.head()

    ano  uf      setor porte_do_cliente  num_empregados
0  2019  RO  INDUSTRIA            MICRO            9493
1  2019  AC  INDUSTRIA            MICRO            2372
2  2019  AM  INDUSTRIA            MICRO            8308
3  2019  RR  INDUSTRIA            MICRO            1415
4  2019  PA  INDUSTRIA            MICRO           16603

In [ ]:
valDF.loc[valDF['ano']

In [6]:
data = {'uf': ['SP', 'RO', 'SP', 'RO', 'PA'], 'ano': [2017, 2019, 2017, 2019, 2019], 'setor': [
    'INDUSTRIA', 'INDUSTRIA', 'INDUSTRIA', 'INDUSTRIA', 'INDUSTRIA'], 'porte_do_cliente': ['GRANDE', 'MICRO', 'GRANDE', 'MICRO', 'MICRO']}
df = pd.DataFrame(data)
df

   uf   ano      setor porte_do_cliente
0  SP  2017  INDUSTRIA           GRANDE
1  RO  2019  INDUSTRIA            MICRO
2  SP  2017  INDUSTRIA           GRANDE
3  RO  2019  INDUSTRIA            MICRO
4  PA  2019  INDUSTRIA            MICRO

In [30]:
def map_values(mainDF, valDF, sectorCol, subsCol):

        mainDF[subsCol] = ''
        try:
                for i in range(len(valDF)):
                    index = np.where(mainDF['ano'].eq(valDF.loc[i, 'ano']) & mainDF['uf'].eq(
                        valDF.loc[i, 'uf']) & mainDF['porte_do_cliente'].eq(
                        valDF.loc[i, 'porte_do_cliente']) & mainDF[sectorCol].eq(valDF.loc[i, 'setor']))
                
                    mainDF.loc[index[0], 'subsCol'] = valDF.loc[i, subsCol]

        except Exception as error:
                print(error)
        return mainDF

In [4]:
map_values(df, valDF, 'setor', 'num_empregados')

   uf   ano      setor porte_do_cliente num_empregados  subsCol
0  SP  2017  INDUSTRIA           GRANDE                     NaN
1  RO  2019  INDUSTRIA            MICRO                  9493.0
2  SP  2017  INDUSTRIA           GRANDE                     NaN
3  RO  2019  INDUSTRIA            MICRO                  9493.0
4  PA  2019  INDUSTRIA            MICRO                 16603.0

In [7]:
df.loc['ano']

KeyError: 'ano'